<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/style.css">
    <title>register</title>
</head>

<body>
    <header>
    <h1>espe chat</h1>
    </header>
    <main>
        <form action="#" class="card">
            <div class="input-group">
                <label for="username">username:</label>
                <input type="text" id="username">
            </div>
            <div class="button-container">
                <button type="submit" class="btn primary" id="login">enter</button>
            </div>
        </form>
    </main>
    <script src="js/register.js"></script>
</body>

</html>